{% extends "./base.html" %}
{% block title %}Recibo{%endblock%}
{% block body %}
<div class="row">
    <div class="offset-md-4 col-md-4">
        <div class="card">
            <div class="card-body">
                <form action="./guardarRecibo" method="POST"> {% csrf_token %}
                    {% if dniError == True %}
                        <p style="color: red;">el DNI no existe</p>

                    {% endif %}
                    
                    
                    <DIV class="form-group">
                        <H5>DNI:</H5>
                        <input class="form-control" list="listaDNI" id="DNIRecibo" name="DNIRecibo" required>
                    </DIV>
                        
                    <datalist id="listaDNI">
                        {% for i in clientes %}
                        <option value="{{i.dni}}"></option>
                        {% endfor %}
                    </datalist>
                     

                    <H5>Fecha:</H5>
                    <div class="form-group">
                        <input type="date" id="fechaRecibo"  name="fechaRecibo" class=" form-control " value="today"  required>
                    </div>
                    <H5>Importe:</H5>
                    <div class="form-group">
                        <input type="number" id="numImporte" name="numImporte" class="form-control" required> 
                    </div>
                    <H5>Metodo de Pago:</H5>

                    <div class="form-group">
                        <select id="pagoRecibo" name="pagoRecibo" class="form-control" required>
                            <option value="tarjeta">Tarjeta</option>
                            <option value="efectivo">Efectivo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-success text-black">Guardar</button>
                    </div>
                </form>
            </div>
        </div>



    </div>



</div>

{% endblock %}