{% extends "base.html" %}
{% block title %}menu de clases{%endblock%}
{% block body %}
<div class="row">
    <div class="offset-md-5 col-md-2">
        <div class="card card-menuclases">
            <div class="botones">
                <a href="./crearRecibo" class="btn btn-success boton-clase">Crear Recibo</a> 
            </div>
            <div class="botones">
                <a href="./verRecibo" class="btn btn-success boton-clase">Ver Recibos</a>
            </div>
            <!-- <div class="botones">
                <a href="./crearClase" class="btn btn-success boton-clase">Crear Clase</a>
            </div> -->
            <div class="botones">
                <a href="./elegirProcedimiento" class="btn btn-success boton-clase">Crear Clase</a>
            </div>
            <div class="botones">
                <a href="./verClases" class="btn btn-success boton-clase">Ver Clases</a>
            </div>
            




        </div>



    </div>



</div>

{% endblock %}